{% extends 'index.html' %}
{% block title %} Home {% endblock %}

{% block static resources %}
{% endblock %}

{% block budget_block %}
    <!-- budget container -->
    <div class="budget-container">
        <p class="notice">{{error_message}}</p>
        <form class="budget-form" method="POST" action="">
            {% csrf_token %}
            {{form}}
            <div class="buttons">
                <a href="{% url 'home_view' %}">Cancel</a>
                <input type="submit" name="submit" value="Submit"/>
            </div>
        </form>
    </div>
    <!-- end of budget container -->
{% endblock %}

{% block item_block %}
{% endblock %}