{% extends 'index.html' %}
{% block title %} Home {% endblock %}

{% block static_resources %}
{% endblock %}

{% block budget %}
    <!-- budget container -->
    <div class="budget-container">
        <!-- budget-dropdown -->
        <div class="dropdown budget-dropdown">
            <div class="select">
                <span class="selected">{{budget.name}}</span>
                <div class="caret"></div>
            </div>
            <ul class="menu scrollable">
                {% for bud in budgets %}
                    {% if bud == budget %}
                        <li class="active">
                            <!-- revisit -->
                            <a href="{% url '' budget.id %}">{{budget.name}}</a>
                        </li>
                    {% else %}
                        <li>
                            <!-- revisit -->
                            <a href="{% url '' budget.id %}">{{budget.name}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul> 
        </div>  
            <div class="budget-buttons-container">
                <a href="{% url 'edit_budget_view' budget.id %}">Edit</a>
                <a href="{% url 'delete_budget_view' budget.id %}">Delete</a>
                <a href="{% url 'new_budget_view' budget.id %}">New</a>
            </div>
    </div>
    <!-- end of budget container -->
{% endblock %}