{% extends 'index.html' %}
{% block title %} Home {% endblock %}

{% load static %}
{% block static_resources %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}"/>
<script src="{% static 'js/budget.js' %}"></script>
{% endblock %}

{% load custom_filters %}
{% block content %}
    <div class="budget-details container">
        <!-- budget form -->
        {% if budget_form %}
            <form class="budget-form" method="post" action="">
                {% csrf_token %}
                <!-- user id -->
                {{budget_form.user_id}}
            
                <div class="row g-2">
                    <!-- name -->
                    <div class="col-md">
                        <div class="form-floating">
                            {{budget_form.name}}
                            <label for="{{ budget_form.name.id_for_label }}">Name</label>
                        </div>  
                    </div>
                
                    <!-- amount -->
                    <div class="col-md">
                        <div class="form-floating">
                            {{budget_form.amount}}
                            <label for="{{ budget_form.amount.id_for_label }}">Amount</label>
                        </div>  
                    </div>

                    <!-- frequency -->
                    <div class="col-md">
                        <div class="form-floating">
                            {{budget_form.frequency}}
                            <label for="{{ budget_form.freqeuency.id_for_label }}">Frequency</label>
                        </div>  
                    </div>
                    
                    <!-- buttons for form -->
                    <div class="col-md btn-group" role="group">
                        {% if budget %}
                            <a id="cancel_budget" class="hider" 
                            href="{% url 'dashboard_view' id=budget.id %}"></a>
                        {% else %}
                            <a id="cancel_budget" class="hider" 
                            href="{% url 'dashboard_view' id=0 %}"></a>
                        {% endif %}
                        <button id="btn_cancel_budget" type="button" class="btn btn-danger">Cancel</button> 
                        <button id="btn_save_budget" type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        <!-- end of form -->
        {% else %}
        <!-- budget info -->
            <div class="budget-info row">
                <div class="col">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{budget.name}}
                        </button>
                        <ul class="dropdown-menu">
                            {% for bgt in budgets %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'dashboard_view' id=bgt.id %}">{{bgt.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <!-- budget amount-->
                    <input class="form-control" type="text" value= "€ {{budget.amount|format_float}}" 
                    aria-label="readonly input example" readonly>    
                </div>
                <div class="col">
                    <!-- budget frequency-->
                    <input class="form-control" type="text" value="{{budget.get_frequency}}" 
                    aria-label="readonly input example" readonly>  
                </div>    
                <div class="col">
                    <!-- dropdown -->
                    <div id="budget-buttons" class="btn-group">
                        <a id="btn_new_budget" type="button" class="btn btn-secondary" href="{% url 'new_budget_view'%}">New+</a>
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split btn-budget-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" id="edit_budget" href="{% url 'edit_budget_view' id=budget.id %}">Edit</a>
                            </li>
                            <li>               
                                <a class="dropdown-item btn" id="delete_budget" href="{% url 'delete_budget_view' id=budget.id %}">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>  
            </div>
            <!-- end of budget info -->
        {% endif %}
    </div>
    <!-- messages -->
    {% if messages %}
        <div class="container">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <!-- bootstrap alert -->
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {% if message.tags == 'success' %}
                    <!-- bootstrap alert -->
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <!-- end of messages -->
    <!-- table functionality -->
    <div class="table-functionality container">
        <!-- item view options-->
        <div class="table-functionality-buttons btn-group">
            <button id="table_item_view" class="btn btn-light items-view-chosen">
                <i class="fa fa-table"></i>
            </button>
            <button id="chart_item_view" class="btn btn-light">
                <i class="fa fa-bar-chart-o"></i>            
            </button>
        </div>
        <div>
            <div class="costs-container">
                <!-- costs and calculator button -->
                <div class="form-floating">
                    {% if budget %}
                        <input id="item_costs" class="form-control" type="text" 
                        value="€ {{budget.get_total_costs|format_float}}" aria-label="readonly input example" readonly/>
                    {% else %}
                        <input id="item_costs" class="form-control" type="number" 
                        value="0" aria-label="readonly input example" readonly/>
                    {% endif %}
                    <label for="item_costs">Total Item Costs</label>
                </div>  
                {% if budget %}
                    <a type="button" href="{% url 'calculator_view' budget_id=budget.id %}" class="btn btn-info" id="calculator">
                        <i class="fa fa-calculator"></i>
                    </a>             
                {% else %}
                    <button class="btn btn-info" id="calculator">
                        <i class="fa fa-calculator"></i>
                    </button> 
                {% endif %}
            </div>
        </div>
    </div>
    <!-- end of functionality -->
    <!-- items container -->
    <div class="items-container container">
        <table border="1 | 0" cellpadding="3" class="table table-striped items-table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Cost (€)</th>
                    <th scope="col">Frequency</th>
                    <th scope="col">Category</th>
                    <th scope="col">
                        {% if budget %}                            
                            <div id="item-buttons" class="btn-group">
                                <a id="btn_new_item" class="btn btn-success" href = "{% url 'new_item_view' budget_id=budget.id %}">New+</a>
                                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split btn-item-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" id="edit_item" href="#">Edit</a></li>
                                </ul>
                                <button id="btn_item_edit_done" class="btn btn-success hider">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </div>
                        {% endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if item_form %}
                    <tr>
                        <td colspan="5">
                            <form class="item-form" method="post" action="">
                                {% csrf_token %}
                                <!-- user id -->
                                {{item_form.budget_id}}
                            
                                <div class="row g-2">
                                    <!-- name -->
                                    <div class="col-md">
                                        <div class="form-floating">
                                            {{item_form.name}}
                                            <label for="{{ item_form.name.id_for_label }}">Name</label>
                                        </div>  
                                    </div>
                                
                                    <!-- cost -->
                                    <div class="col-md">
                                        <div class="form-floating">
                                            {{item_form.cost|format_float}}
                                            <label for="{{ item_form.cost.id_for_label }}">Cost</label>
                                        </div>  
                                    </div>
                
                                    <!-- frequency -->
                                    <div class="col-md">
                                        <div class="form-floating">
                                            {{item_form.frequency}}
                                            <label for="{{ item_form.freqeuency.id_for_label }}">Frequency</label>
                                        </div>  
                                    </div>
                                    
                                    <!-- category -->
                                    <div class="col-md">
                                        <div class="form-floating">
                                            {{item_form.category}}
                                           <label for="{{item_form.category.id_for_label}}">Category</label>
                                        </div>
                                    </div>
                
                                    <div id="item_buttons" class="col-md btn-group" role="group">
                                        <button id="btn_cancel_item" type="button" class="btn btn-primary">Cancel</button>      
                                        {% if item %}
                                            <button id="btn_delete_item" type="button" class="btn btn-danger">Delete</button>
                                        {% endif %}
                                        <button id="btn_save_item" type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endif %}

                {% if budget %}
                    {% for item in items %}
                        <tr>
                            <!-- Name -->
                            <td>{{item.name}}</td>
                            <!-- Cost -->
                            <td>{{item.cost|format_float}}</td>
                            <!-- frequency -->
                            <td>{{item.get_frequency}}</td>
                            <!-- category -->
                            <td>{{item.category.name}}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{% url 'edit_item_view' budget_id=budget.id item_id=item.id %}" class="btn btn-info btn-edit-item hider">
                                        <i class='fa fa-edit'></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <div class="data-breakdown hider">
            <canvas id="pie_chart">

            </canvas>     
            <div class="metadata">
                <ul class="list-group">
                    {% for data in data_points %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">{{data}}</div>
                          €{{data_points|lookup:data}}
                        </div>
                      </li>
                    {% endfor %}
                </ul>
            </div>   
        </div>
    </div>

    <div id="anchors" class="hider">
        {% if budget %}
        <!-- anchors for item form buttons -->
        <div id="item-anchors">
            {% if item %}
                <a id="delete_item" class="hider"
                href="{% url 'delete_item_view' item_id=item.id budget_id=budget.id %}"></a>
            {% endif %}
            <a id="cancel_item" class="hider" 
            href="{% url 'dashboard_view' id=budget.id %}"></a>
        </div>
        {% endif %}
    </div>
    <!-- data used to create chart -->
    <div class="category-data hider">
        {% for category in breakdown %}
            <div class="category" data-name="{{category}}" data-cost="{{breakdown|lookup:category|lookup:'cost'}}"></div>
        {% endfor %}
    </div> 

    <script src="{% static 'js/pie_chart.js' %}"></script>

{% endblock %}