{% extends 'base.html' %}

{% block main %}
    <main>
        <div class="sidebar">
            <!--page header -->
            <header class="page-header">
                <img id="logo" src="../static/images/moolahs_eye.png" alt="Moolah's Eye Logo"/>
                <!-- logout dropdown -->
                <div class="dropdown logout-dropdown">
                    <div class="select">
                        <span class="selected">{{user.name}}</span>
                        <div class="caret"></div>
                    </div>
                    <ul class="menu scrollable">
                        <li>
                            <a href="{% url 'login_view' %}">Logout</a>
                        </li>
                    </ul> 
                </div>
            </header>
                {% block budget %}

                {% endblock %}
        </div>
        <div class="content">
            {% block item %}

            {% endblock %}
        </div>
    </main>
{% endblock %}
