{% extends 'budget_choose.html' %}
{% block title %} Home {% endblock %}

{% block static_resources %}
{% endblock %}

{% block item_block %}
<div class="items-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Cost</th>
                <th>Frequency</th>
                <th>Cost</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in budget.item_set.all %}
                <tr>
                    <!-- Name -->
                    <td>{{item.name}}</td>
                    <!-- Cost -->
                    <td>{{item.cost}}</td>
                    <!-- frequency -->
                    <td>{{item.get_frequency}}</td>
                    <!-- category -->
                    <td>{{item.category.name}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}