:root {
    --calculator-bg: rgba(108, 117, 125, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content-container {
    display: flex;
}

.items-container {
    margin: 2.5%;
}

.costs-form {
    display: flex;
}

.calculator-container {
    margin: 2.5%;
    box-shadow: 0 0 .5rem black;
    border-radius: 8px;
    background: var(--calculator-bg);
}

.calculator {
    border-radius: 8px;
}

.calculator-display {
    margin: 5% auto;
    border: .05rem groove black;
    border-radius: 8px;
    max-width: 95%;
}

.calculator-display input {
    height: 100%;
    width: 100%;
    padding: 5% 2.5%;
    border: none;
    border-radius: 8px;
    background-color: white;
    text-align: right;
    font-size: 125%;
}

.grid-container {
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(5, 18%);
    padding: 2.5%;
    row-gap: 2.5%;
    column-gap: 1.5%;
}

.calculator .btn {
    font-weight: bold;
    font-size: 125%;
}

