:root {
    --logo-bg: #f9f9f9;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--logo-bg);
}

main {
    width: 100vw;
    height: 100vh;
}

/* navbar */
.navbar {
    box-shadow: 0 0 .5rem black;
}

#logo {
    width: 100%;
    height: auto;
    margin: 0 2.5%;
    border: .05rem groove white;
    border-radius: 6px;

}

.navbar-brand {
    max-width: 6%;
}

.navbar-brand,
.logout-dropdown {
    margin: 0 1%;
}

.logout-dropdown button {
    box-shadow: 0 0 .5rem black;
}


/* budget details */ 
.budget-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1% 0;
    margin: 1% auto;
}

.budget-form {
    width: 100%;
}

/*******(items)*********/
/* table functionality */
/***********************/

.table-functionality {
    margin: .75% auto;
    display: flex;
    justify-content: space-between;
}

.table-functionality-buttons {
    box-shadow: 0 0 .5rem black;
}

.items-view-chosen {
    background-color: #d3d4d5;
}

.costs-container {
    display: flex;
}

/* items container */

.items-container {
    margin: 2.5% auto;
}

/* items table */
.items-table {
    background-color: white;
}

.items-table tbody td {
    padding: 1%;
}

/* data breakdown */
.data-breakdown {
    width: 100%;
    display: flex;
    margin: 2.5% auto;
}

#pie_chart {
    width: 40% !important;
    height: auto !important;
}

.metadata {
    width: 25%;
}

/* hider */
.hider {
    display:none;
}

/* buttons */
#btn_delete_budget {
    text-decoration: underline;
}

#calculator,
#table_item_view,
#chart_item_view {
    font-size: 150%;
}

.btn-budget-dropdown {
    border: .05rem solid rgb(50, 50, 50);
}

#btn_item_edit_done,
.btn-edit-item {
    font-size: 125%;
}







