:root {
    --logo-bg: #f9f9f9;
}

body {
    overflow-x: auto;
}

main {
    width: 100vw;
    height: 100vh;
}

/* navbar */
.navbar {
    background-color: var(--logo-bg);
    box-shadow: 0 0 .5rem black;
}

#logo {
    width: 100%;
    height: auto;
    margin: 0 2.5%;
    border: .05rem groove white;
    border-radius: 6px;

}

.navbar-brand {
    max-width: 6%;
}

.navbar-brand,
.logout-dropdown {
    margin: 0 1%;
}

.logout-dropdown button {
    box-shadow: 0 0 .5rem black;
}


/* budget details */ 
.budget-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1% 0;
}

.budget-form {
    width: 100%;
}

/*******(items)*********/
/* table functionality */
/***********************/

.table-functionality {
    margin: .75% auto;
    display: flex;
    justify-content: space-between;
}


.table-functionality-buttons {
    box-shadow: 0 0 .5rem black;
}

.costs-container {
    display: flex;
}

/* items container */
.items-table {
    background-color: white;
}

/* hider */
.hider {
    position: absolute;
    bottom: 10000px;
}

/* buttons */
#btn_delete_budget {
    text-decoration: underline;
}

